h1 {
    margin-bottom: 1%;
    font-size: 2em;
    font-weight: 300;
    color: #485774;
}

h2.comments-title {
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 1.5em;
    font-weight: 300;
    color: #485774;
}

p {
    font-size: 0.9em;
    line-height: 1.6em;
}

.meta-prep, 
.meta-sep {
    font-size: 0.8em;
    color: #888;
}

.entry-utility {
    font-size: 0.8em;
    color: #888;
}

.entry-date, 
.author {
    font-size: 0.8em;
}

.container {
    width: 80%;
    max-width:1200px;
    margin:0 auto;
}

.container-2 {
    width: 80%;
    max-width:1200px;
    margin:0 auto;
    padding-top: 50px;
}

.content {
    float: left;
    width: 60%;
    margin: 0 3%;
}

.full {
    width:100%;
}

/*tables*/
table td {
    padding:10px;
}
table tr td:first {
    padding-right: 0;
}

/*def lists*/
dt {
    font-weight: 600;
    padding-bottom: 5px;
}
dd {
    padding:10px;
    margin-left: 10px;
}

/*PRE*/

pre {
    background: #F7F7F7;
    padding:10px;
    border-radius: 4px;
    border:1px solid #ccc;
}