footer {
    clear:both;
    position: relative;
    .container {
	padding: 50px;
	position: relative;
    }
}

#menu-fine-print {
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.widget-map {
    float: right;
    text-align: center;
    p {
	margin-bottom: 0;
    }
}