footer {
    clear:both;
    position: relative;
    background: #485774;
    .container {
    padding: 50px;
    position: relative;
    }
    h3 {
        color: #F1AF29;
    }
    .menu ul li {
        list-style-type: none; 
    }
    .menu ul li a {
        font-size: 0.8em;
        font-weight: 300;
        color: #FFF;
    &:hover {
        color: #E4E3EE;
    }
  }
}

.footer-loop {
    background: #FFF;
    p {
        font-size: 0.8em;
        color: #888;
    }
}

#menu-fine-print {
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.widget-map {
    display: inline-block;
    width: 27%;
    margin: 0 3%;
    text-align: left;
    p {
	margin-bottom: 0;
    color: #FFF;
    }
    h3 {
        color: #F1AF29;
    }
    a:link, a:visited {
        color: #FFF;
    }
    a:hover, a:active {
        color: #E4E3EE;
    }
}

#menu-footer-menu {
    display: none;
}
h3 {
    color: #F1AF29;
}