.hero {
    position: relative;
    background: url('images/hero1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 375px;
    p {
	margin-top: 0;
    }
}

.wrapper {
    margin: 0 auto;
    margin-top: -50px;
    padding: 50px;
    background: #FFF;
    z-index: 999;
}

.front-page-rooms {
    float: left;
    width: 33.333%;
}

.content-front {
    padding: 50px;
}

.form-booking {
    width: 275px;
    height: 400px;
    padding: 25px;
    background: #E4E3EE;
    h3 {
        font-weight: 300;
        text-align: center;
    }
}
