.hero {
    position: relative;
    background: url('images/slider_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    z-index: -2;
    p {
	margin-top: 0;
    }
}

.wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 960px;
    padding: 50px;
    background: #444;
    z-index: 998;
}

.front-page-rooms {
    float: left;
    width: 33.333%;
}

.content {
    padding: 50px 0;
}